<div class="container mt-5 mb-5" id="csc-meetings-content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h5>Computer Science Club</h5>
			<h2>MEETINGS</h2>
			<hr class="spacer-left">
			<ul class="timeline pt-3">
				<li>
					<a class="csc-link" href="#">Summer Session Meeting</a>
					<a class="csc-link float-end" href="#">1 June, 2022</a>
					<p>5:00 pm via Zoom</p>
					<p>The new logo for the club, summer projects, website, GitHub, social media, Facebook, Instagram, YouTube, etc. Cyber Decks have been a huge interest and we will look into what we need to start that project in Fall 2022.
						This is an optional summer meeting.</p>
				</li>
				<li>
					<a class="csc-link" href="#">Summer Session Meeting</a>
					<a class="csc-link float-end" href="#">18 May, 2022</a>
					<p>5:00 pm via Zoom</p>
					<p>The new logo for the club, summer projects, website, GitHub, social media, Facebook, Instagram, YouTube, etc.  This is an optional summer meeting.</p>
				</li>
				<li>
					<a class="csc-link" href="#">Inaugural Meeting</a>
					<a class="csc-link float-end" href="#">4 May, 2022</a>
					<p>5:00 pm via Zoom</p>
					<p>Who your officers are, future projects, spending, fundraising, club flyers, our new professor Trevor Hartman, CS Club's future NCL team, 2022 Mayor's Cyber Cup, optional summer meetings, and the fall semester.</p>
				</li>
			</ul>			
		</div>
	</div>
</div>

<div class="container-fluid bg-light-csc pt-3 pb-3">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h5>Computer Science Club</h5>
			<h2>INFORMATION</h2>
			<hr class="spacer-left"><br>
			<div class="row">
				<div class="col">
					Club originally ratified in spring 2022. Some other stuff about the club, it's charter, original officers and the College of the Redwoods ASCR.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					<br><a class="csc-link">Club Charter</a>
				</div>
			</div>
		</div>
	</div>
</div>