<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      CR Computer Science Club
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/meetings" routerLinkActive="active">Club Meetings</a>
        </li>
      </ul>
      <a class="navbar-brand" href="https://discord.com/channels/915313167331127356/915313167331127358" target="_blank" rel="noopener">
        <i class="bi bi-discord"></i>
        <small class="d-lg-none ms-2">Discord</small>
      </a>
      <a class="navbar-brand" href="https://github.com/crcsc" target="_blank" rel="noopener">
        <i class="bi bi-github"></i>
        <small class="d-lg-none ms-2">GitHub</small>
      </a>
    </div>
  </div>
</nav>