// Color variables
$csc-green-lighter: #add675;
$csc-green-light: #95ca4e;
$csc-green: #8cc63f;
$csc-green-dark: #7cb135;
$csc-green-darker: #608a29; 

$csc-bg-dark: rgb(52, 58, 64); // #343a40 matches bootstrap bg-dark
$csc-bg-dark-75: rgba(52, 58, 64, 0.75);
$csc-bg-dark-50: rgba(52, 58, 64, 0.5);
$csc-bg-dark-25: rgba(52, 58, 64, 0.25);
$csc-bg-dark-10: rgba(52, 58, 64, 0.1);

$csc-grey-lightest: #f8f8f8;
$csc-grey-lighter: #f1f1f1;
$csc-grey-light: #e8e8e8;
$csc-grey-medium: #dddddd;

$csc-bg-light: #f8f8f8;
$csc-border-light: #e7e7e7;

$csc-white-50: rgba(255, 255, 255, 0.5);
$csc-white-75: rgba(255, 255, 255, 0.75);

// background color classes
.bg-light-csc {
  background-color: $csc-grey-lightest;
  border-top: 1px solid $csc-grey-light;
	border-bottom: 1px solid $csc-grey-light;
}