
<div class="registration-content mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-6 mb-5">
        <h5>Computer Science Club</h5>
        <h2>SOCIAL OUTLETS</h2>
        <hr class="spacer-left"><br>
        <div class="row">
          <p>
            The Computer Science Club is active on a number of social media and technology platforms.  We everyone to participate with us online.  
            College of the Redwoods students can register for membership and join the club.
          </p>
        </div>
        <div class="row justify-content-center mb-5">
          <div class="col text-center align-middle">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="https://github.com/crcsc"  class="csc-link" target="_blank" rel="noopener"><i class="bi bi-github"></i> GitHub</a></li>
              <li class="list-group-item"><a href="https://discord.com/channels/915313167331127356/915313167331127358"  class="csc-link" target="_blank" rel="noopener"><i class="bi bi-discord"></i> Discord</a></li>
              <li class="list-group-item"><a href="#" class="csc-link"><i class="bi bi-stack-overflow"></i> Stack Overflow</a></li>
              <li class="list-group-item"><a href="#" class="csc-link"><i class="bi bi-twitch"></i> Twitch</a></li>
            </ul>
          </div>
          <div class="col text-center align-middle">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#" class="csc-link"><i class="bi bi-facebook"></i> Facebook</a></li>
              <li class="list-group-item"><a href="#" class="csc-link"><i class="bi bi-instagram"></i> Instagram</a></li>
              <li class="list-group-item"><a href="#" class="csc-link"><i class="bi bi-linkedin"></i> Linkedin</a></li>
              <li class="list-group-item"><a href="#" class="csc-link"><i class="bi bi-youtube"></i> Youtube</a></li>
            </ul>
          </div>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-csc btn-block" href="#">Join the Club</button>
        </div>
      </div>
      <div class="text-center align-middle col-xs-12 col-md-6">
        <img class="img-fluid w-75" src="assets/crcsc-logo.png" alt="College of the Redwoods Computer Science Club">
      </div>
    </div>
  </div>
</div>